.userProfileInfo {
    padding: 3rem;
    display: flex;
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);   
}

.userProfilePhoto {
    height: 20rem;
    width: auto;
}

.userInformationContainer {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.userProfileFullName {
    border-bottom: 2px solid blue;
}