.users {
    background-color: rgb(194, 207, 231);
}

.user {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.photoContainer{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.toggleFollow {
    margin-top: 5px;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.userDescription {
    text-align: center;
    font-size: 1.8em;
    width: 100%;
}

.pageButton{
    cursor: pointer;
    padding: 5px 12px;
    margin: 2px;
    color:white;
    background-color: #5398f3;
    
}
.selectedPage {
    background-color: #3e4148;
    color: white;
}