.userPage {
    background-color: rgba(122, 136, 151, 0.2);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.usersContainer {
    padding: 1rem;    
}

.paginationPanel {
    margin: 1rem;
    display: flex;
}



.users {
    margin-top: 2.5rem;
}

.pageButton{
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    margin: 0.3rem;
    border-radius: 8px;
    border: none;
    color:black;
    background-color: white
    
}

.pageButton:hover {
    background-color: rgb(4, 75, 156);
    color: white;
}

.selectedPage {
    background-color: #3e4148;
    color: white;
}

.preloaderImage {
    width: 100%;
}