.post {
    padding: 0.7em;
    margin: 0.7em;
    width: 30%;
    background-color: dodgerblue;
    border-radius: 10%;
}
.post__img {
    width: 50px;
    height: auto;
    margin-right: 1em;
}

.button {
    padding: 5px;
    float: right;
    margin-top: 15px;
}