.profile_info {
    display: flex;
    min-height: 200px;
    align-items: center;
    background-color: rgb(240, 212, 185);
}

.img_container {
    margin-left: 2rem;
    margin-right: 5rem;
    height: 150px;
    width: 150px;
    background-color:khaki;
    border-radius: 50%;
    padding: 20px;
}

.img_container__img {
    width: 100%;
    border-radius: 50%;
}