.dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.dialogsItems {
    background-color: white;
}

.messagesContainer {
    position: relative;
    background-color: rgba(122, 136, 151, 0.2);
}

.messages {
    padding: 0.8rem;
}
