.dialogs {
    background-color: rgb(194, 207, 231);
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.dialogsItems {
    background-color: white;
}

/* .userDialog, .message {
    margin: 10px;
} */

.messages {
    padding: 10px;
    position: relative;
}

