.nav {
    grid-area: n;
    background-color: rgb(157, 226, 231);
  }

.item {
  padding: 20px;
  color:darkblue;
  cursor: pointer;
}

.item a {
  text-decoration: none;
}

.active {
  color:mediumblue
}