.nav {
    grid-area: n;
    background-color:rgba(171, 206, 247, 0.8);
  }

.nav_item {
  color: rgb(37, 7, 202);
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.nav_item:hover {
  background-color: rgb(149, 191, 240);
  color: white;
}

.active {
  color: white;
  background-color: rgb(4, 75, 156);
}