.userDialog {
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
    color: black;
    
}
.userDialog:hover {
    background-color: rgb(235, 237, 240);
    transition: all 0.5s;
}

.activeDialog {
    color:white;
    background-color: rgb(130, 158, 190);
}

