.newMessage{
    position: absolute;
    width: 5rem;
    height: 6rem;
    bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 158, 190, 0.8);
    /* background-color: rgb(4, 75, 156); */
}
.newMessageInput {
    outline: none;
    display: inline-block;
    width: 85%;
    line-height: 2;
    background-color:white;
    border-radius: 8px;
    border: none;
    padding: 2px;
    padding-left: 15px;
}

.newMessageInput:focus {
    border: 2px solid black;
    background-color: rgb(219, 227, 241);
}

.newMessageSendButton {
    padding: 0.5rem 1.2rem;
    margin-left: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    color: rgb(98, 118, 141)
}

.newMessageSendButton:hover {
    background-color: rgb(46, 47, 48);
    color: white;
    cursor: pointer;
}