.newMessage{
    width: 80px;
    height: 100px;
    position: absolute;
    background-color: brown;
    bottom: 2em;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 187, 238)
}
.newMessage input {
    outline: none;
    display: inline-block;
    width: 85%;
    line-height: 2;
    background-color:rgb(194, 207, 231);
    border-radius: 5px;
}